
/*公共方法*/
.clear{
  clear: both;
}
.clearleft{
  clear: left;
}
.clearright{
  clear: right;
}
.floatleft{
  float: left;
}
.floatright{
  float: right;
}
.cursor{
  cursor: pointer;
}
/*背景及色值表*/
.bg000{
  background: #000;
}
.color000{
  color: #000;
}

body{
  background: #f1f1f1;
}

body{
  text-align: left;
}
*{padding: 0; margin: 0;}
a{
  color:#333;
  text-decoration: none;
}
a:hover{
  color:#333;
}
ul,li,ol{
  text-decoration: none;
}
.mgb10{
  margin-bottom: 10px;
}
.mgb15{
  margin-bottom: 15px;
}
.mgb20{
  margin-bottom: 20px;
}
.mgb40{
   margin-bottom: 40px;
 }
.mgb60{
  margin-bottom: 60px;
}
.mgb5{
  margin-bottom: 10px;
}
.p5{padding: 5px 0}
.bc-ff6600{
   background: #ff6600;
  color:#fff;
}
.bc-fff{
  background: #fff;
}
.db{display: block}
.c-ff6600{color:#ff6600}
.c-666{color:#666;}
.font12{font-size: 12px}
.font14{font-size: 14px}
.bold{font-weight: bold;}
.bor1-ccc{border-bottom: 1px solid #ccc;}
.bor1-e6e6e6{border-bottom: 1px solid #e6e6e6;}
.tl{text-align: left}
.tr{ text-align: right;}
.pull-right{ float: right;}
.pull-left{ float: left;}
.font20{
  font-size: 20px;
}

